<div id="header">
    <a class="qccLogo" href="http://www.qcc.cuny.edu/index.html">
        <img alt="image of the smaller QCC logo" height="60" src="http://www.qcc.cuny.edu/_common/images/qccLogoWhite5.png" width="450"/>
    </a>
    <ul id="menu">
        <li class="toplinks">
            <a href="http://www.qcc.cuny.edu/publicSafety/index.html" title="link to Public Safety">Public Safety</a>
        </li>
        <li class="toplinks">
            <a href="http://www.qcc.cuny.edu/AZindex.html" title="link to the A to Z Index">A - Z Index</a>
        </li>
        <li class="toplinks">
            <a href="http://www.qcc.cuny.edu/e311/index.html" title="link to the QCC suggestion box">Ask e311</a>
        </li>
        <li class="toplinks">
            <a href="http://www.qcc.cuny.edu/registrar/index.html" title="link to the Registrar home page">Register</a>
        </li>
        <li class="toplinks">
            <a href="http://www.qcc.cuny.edu/directory" title="link to the online directory site">Directory</a>
        </li>
        <li class="main-nav-item">
            <a class="main-nav-tab" href="#">Login&#160;
                <img alt="down arrow" height="9" src="http://www.qcc.cuny.edu/_common/images/arrow_px_down2.gif" width="7"/>
            </a>

            <div class="main-nav-dd">
                <div class="main-nav-dd-column">
                    <a href="https://tigermail.qcc.cuny.edu/" style="float: left;" target="_blank" title="link to TigerMail">TigerMail</a><br/>
                    <a href="https://qcc-sp.blackboard.com/eaccounts" style="float: left;" target="_blank" title="link to OneCard">OneCard</a><br/> <a href="https://home.cunyfirst.cuny.edu" style="float: left;" target="_blank" title="link to the CUNYfirst log-in page">CUNYfirst</a><br/>
                    <a href="https://cunyportal.cuny.edu/cpr/authenticate/portal_login.jsp" style="float: left;" target="_blank" title="link to the CUNY Portal / Blackboard log-in page">CUNY Portal</a><br/>
                    <a href="https://cunyportal.cuny.edu/cpr/authenticate/portal_login.jsp" style="float: left;" target="_blank" title="link to the CUNY Portal / Blackboard log-in page">Blackboard</a><br/>
                    <a href="http://www.qcc.cuny.edu/eportfolio/index.html" style="float: left;" target="_blank" title="link to the ePortfolio site">ePortfolio</a><br/>
                    <a href="http://mail.qcc.cuny.edu/" style="float: left;" target="_blank" title="link to Faculty/Staff email">Faculty/Staff eMail</a><br/>
                    <a href="https://mail.qcc.cuny.edu/pass" style="float: left;" target="_blank" title="link to Faculty/Staff email password reset">Faculty/Staff eMail Password Reset</a>
                </div>
            </div>
        </li>
    </ul>
    <br/>
    <br/>
    <div style="text-align:right; display:block; float:right"><br/>
        <form action="http://www.qcc.cuny.edu/searchResults.html" id="search">
            <div style="margin-right: 8px; display: inline; vertical-align: bottom;">
                <a href="http://www.facebook.com/QueensboroughCUNY" target="_blank" title="link to QCC's facebook page">
                    <img alt="facebook" height="20" src="http://www.qcc.cuny.edu/_common/images/icons20x20/facebookicon.png" width="20"/>
                </a>
                <a href="https://twitter.com/qcc_cuny" target="_blank" title="link to QCC's twitter feed">
                    <img alt="QCC's twitter feed" height="20" src="http://www.qcc.cuny.edu/_common/images/icons20x20/twitter.png" width="20"/>
                </a>
                <a href="http://instagram.com/QCC_CUNY" target="_blank" title="QCC's instragram feed">
                    <img alt="QCC's instagram feed" height="20" src="http://www.qcc.cuny.edu/_common/images/icons20x20/instagramIcon.png" width="20"/>
                </a>
                <a href="https://www.linkedin.com/edu/queensborough-community-college-20267" target="_blank" title="link to QCC's LinkedIn page">
                    <img alt="linkedIn" height="20" src="http://www.qcc.cuny.edu/_common/images/icons20x20/linkedin.png" width="20"/>
                </a>
                <a href="http://www.youtube.com/user/CUNYQueensborough" target="_blank" title="link to QCC's YouTube page">
                    <img alt="YouTube" height="20" src="http://www.qcc.cuny.edu/_common/images/icons20x20/youtube.png" width="20"/>
                </a>
            </div>
            <input name="cx" type="hidden" value="002217100447620208891:xpckyeeduya"/>
            <input name="cof" type="hidden" value="FORID:10"/>
            <input name="ie" type="hidden" value="UTF-8"/>
            <input autocomplete="on" id="q" name="q" placeholder="Search all of QCC.cuny.edu" size="30" style="font-size: 14px; vertical-align: top;" type="search"/>
            <input alt="Search Now" height="20" name="sa" src="http://www.qcc.cuny.edu/_common/images/searchButton2.gif" style="vertical-align: top;" type="image" width="20"/>
        </form>
    </div>
</div>
<!-- end #header -->