<div id="navBar">
    <ul id="menuNav">
        <li><a href="http://www.qcc.cuny.edu/about/index.html" title="About Queensborough Community College">About Us</a></li>
        <li><a href="http://www.qcc.cuny.edu/academics/index.html" title="Academics at Queensborough Community College">Academics</a></li>
        <li><a href="http://www.qcc.cuny.edu/current-students/index.html" title="Information for Current Students">Student Life</a></li>
        <li><a href="http://www.qcc.cuny.edu/admissions/index.html" title="Information for Future Students">Admissions</a></li>
        <li><a href="http://www.qcc.cuny.edu/faculty-staff/index.html" title="Information for Faculty and Staff">Faculty &amp; Staff</a></li>
        <li><a href="http://www.qcc.cuny.edu/alumni-friends/index.html">Alumni &amp; Friends</a></li>
        <li><a href="http://www.qcc.cuny.edu/give/index.html">Give to QCC</a></li>
        <li><a href="http://www.qcc.cuny.edu/employment/index.html" title="Jobs at Queensborough Community College">Employment</a>
        </li>
    </ul>
</div>
<!-- end #navBar -->