<div class="innerCol">
    <a href="#" title="E-learning"><img alt="E-Learning" src="components/images/elearning.jpg"/></a>
    <h4>The E-Learning Institute:</h4>
    <p>At Queensborough Community College in order to develop, implement, improve, grow and provide e-learning courses of the highest quality; the college has embarked on a grass-roots program to educate its faculty and staff on the use of the technologies used to create and provide e-learning courses. At the core of this program is the e-learning institute which is a pioneering program headed by Bruce Naples and Denis Bejar of the Academic Computing Center in conjunction with the department of Academic Affairs, to provide training to full- and part-time faculty in Online Course Development.</p>
    <p>In order to qualify for this program, interested faculty will need to participate in an application process once the open enrollment period begins. At the end of the enrollment period the submitted proposals will be evaluated according to the following criteria:</p>
    <ol>
        <li>Full or Part-time faculty member</li>
        <li>Proposed course is offered in multiple sections</li>
        <li>Proposing faculty member has experience teaching this course</li>
        <li>Appropriateness of the course for online delivery, for meeting department priorities</li>
        <li>Potential advantages of offering the course online</li>
        <li>Expected enhancement of student learning outcomes</li>
        <li>Enthusiastically completed application, signed by both Applicant and Department Chair</li>
    </ol>
    <p>And successful candidates will be notified of their acceptance into the training program.</p>
    <p>Selected faculty will be expected to attend the Summer Institute, complete final preparations for online course delivery during the fall semester, and teach the course online at least two semesters (spring and fall). This faculty development initiative will emphasize partly online (blended) courses but faculty members who wish to develop fully online (asynchronous) courses may also apply.</p>

    <h4>Criteria for faculty and course selection:</h4>
    <ol>
        <li>Courses developed can be blended (33-80% online each week with the remaining classes or laboratory sessions delivered in a face-to-face format) or asynchronous (80-100% online).</li>
        <li>Faculty must commit to:
            <ul>
                <li>a) Attend the Summer Institute (normally scheduled from10 a.m.-3 p.m. During a specified two week period, with necessary development activities to be completed in the intervening week);</li>
                <li>b) complete the preparation for online delivery during the fall semester, under the guidance of a peer faculty mentor and the College’s online instructional design staff – the course must be approved as meeting nationally accepted standards for implementation by the office of Academic Affairs; and</li>
                <li>c) Implement the approved course during the spring and fall semesters after completing then summer training workshops.</li>
            </ul>
            <p>Training will involve hands-on course development activities and participation in online asynchronous activities during the summer and next academic year, and an evaluation and reflection session in the fall.</p>
        </li>
        <li>Faculty should propose to develop a course they are already teaching (not online) or are scheduled to teach; faculty should confer with their department chairperson regarding the expectation they will teach the online course during the Spring and Fall semesters and regarding how teaching the proposed course with an online component fits the department’s priorities.  Prior experience teaching online is not required.</li>
        <li>Part-time faculty who have taught for at least four (4) semesters including the Spring semester are eligible to be part of the Cohort  Online Course Development Initiative, with the approval of the department chair.</li>
        <li>Preference will be given to proposals for courses that have multiple sections and thus have the potential to serve many students.</li>

    </ol>
    <h4>Additional considerations:</h4>
    <ul>
        <li>Faculty who join the initiative for the first time will receive a laptop (loaded with licensed software). After the course is approved for implementation, they will receive a $500 stipend. After the course has been taught online for the first semester they will receive an additional $500 stipend.  (Faculty members who do not implement the courses must return the laptop.).
        </li>
        <li>Faculty who have already developed a QCC on-line course and are approved to develop another course, will receive $1,000 for the development and implementation of the course. ($500 would be paid after the course is approved for implementation and $500 would be paid at the end of the first semester the course is taught.)  Note: laptops are distributed to first-time participants only.</li>
        <li>Approved online courses are expected to be first implemented (taught) during the spring semester.</li>
        In order to stay current with eLearning pedagogy and technology, once they have been trained and have begun teaching online, participating faculty will attend 2 to 3 workshops and/or conferences (either within or outside CUNY) pertaining to online learning during the first two semesters that the course is taught. They will also have the opportunity to help develop and carry out designs for assessing student learning outcomes in online modalities. It is expected that faculty members who continue teaching online courses will share their expertise with other faculty members, and may become part of the QCC online Faculty Mentor cohort. </li>
        <li>Faculty members teaching online courses are expected to: build their courses according to nationally accepted standards, which will be supplied, explained, and supported throughout the Initiative; continue course development under the guidance of their faculty Mentor throughout their three-semester commitment to this Initiative. </li>
        <li>In October or November of the fall semester an eLearning Luncheon will be held during which Faculty developers will demonstrate what they feel is the strongest component of their online course development effort thus far.</li>
    </ul>
</div>