<div class="innerCol">
    <a href="#" title="E-learning"><img alt="E-Learning" src="components/images/elearning.jpg"/></a>
    <div class="ClearFix">&#160;</div>
    <p>At Queensborough Community College academic success of our students is at the core of who and what we are.
        Here at Queensborough Community College we are always looking for new and improved ways to increase our
        student’s retention and understanding of complex and complicated concepts and ideas; while preparing them
        for success in the ever evolving world of work. To this end we have always embraced and pioneered the use of
        new technology in our classrooms to improve our students learning experiences. Thus it should be no surprise
        that today we are again at the forefront of technology developing new and advance e-learning strategies to
        improve our students learning experiences.</p>

    <p>Our e-learning curriculum provides our students with a content rich experience that is intuitive, easy to
        follow and understand with an ease of access from anywhere at any time. At Queensborough e-learning has
        become an integral part of our curriculum and has been integrated into every discipline in one way or
        another. Queensborough Community College currently offers partially online classes, fully online courses,
        web-enhanced and interdisciplinary partially online classes.</p>
    <h4>Fully Online:</h4>

    <p>In our fully online classes there are no face-to- face meetings, all class meetings are conducted in a
        virtual online setting where all class meetings are simulated and replaced by multimedia and other digital
        content with all exams being conducted on-line.</p>
    <h4>Partially Online</h4>

    <p>In our partially online classes we offer the best of both worlds where students are able to benefit from both
        a traditional face-to-face learning experience complemented with all the benefits of e-learning.</p>
    <h4>Web-Enhanced:</h4>

    <p>Our web-enhanced courses are traditional face-to- face classes in which the instructor incorporates myriad
        e-learning technologies to enhance the students in and out of class room learning experience; while
        preparing them for a future of e-learning.</p>
</div>